[Unit]
Description=Rebecca Node Service
Documentation=https://github.com/rebeccapanel/Rebecca-node
After=network.target nss-lookup.target

[Service]
ExecStart=/usr/local/bin/rebecca-node
Restart=on-failure
WorkingDirectory=/var/lib/rebecca-node

[Install]
WantedBy=multi-user.target
